@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://use.typekit.net/jvr0joe.css");
@layer base {
}
/* Disables pinch zoom on mobile web */
@media (max-width: 768px) {
  html,
  body {
    touch-action: pan-y;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -ms-touch-action: pan-y;
    font-family: "sofia-pro";
    font-weight: 400;
  }
}
