@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Sofia Pro";
    src: url("../public/fonts/SofiaProLight.ttf");
    font-weight: 400;
  }
  @font-face {
    font-family: "Sofia Pro";
    src: url("../public/fonts/SofiaProRegular.ttf");
    font-weight: 700;
  }
}
/* Disables pinch zoom on mobile web */
@media (max-width: 768px) {
  html,
  body {
    touch-action: pan-y;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -ms-touch-action: pan-y;
  }
}
