.react-calendar {
  width: 19.375rem;
  height: 20rem;
  flex-grow: 0;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
  background: white;
  margin-top: 10vh;
  position: absolute;
  border: 1px solid #828282;
  border-radius: 8px;
  padding: 0.5rem;
  z-index: 10;
}

.react-calendar__navigation__label__labelText {
  font-size: 24px;
  font-weight: bold;
}
.react-calendar__navigation__label {
  padding-top: 0.5rem;
  width: 20vw;
  display: flex;
  justify-content: center;
}

.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  border: 0;
}
.react-calendar button:disabled {
  color: #c0c3c8;
}

.react-calendar__tile--rangeEnd button {
  margin: 0;
  border: 0;
  border: 2px #7da5da solid;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  display: flex;
  margin-bottom: 1em;
}
.react-calendar__navigation button {
  background: none;
  width: 20vw;
}

.react-calendar__navigation__prev-button {
  content: url(/client/public/images/ic-chevron_left.svg);
  transform: scale(2);
}

.react-calendar__navigation__next-button {
  content: url(/client/public/images/ic-chevron_left.svg);
  transform: scale(2);
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
  overflow: hidden;
  flex-grow: 0;
  font-size: 0.875rem;
  font-weight: normal;
  color: #333333;
  padding-bottom: 0.5rem;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}

abbr {
  text-decoration: none;
}

.react-calendar__month-view__days__day {
  overflow: hidden;
  flex-grow: 0;
  font-size: 0.875rem;
  font-weight: normal;
  color: #6f6e6e;
  padding-bottom: 1rem;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
}
.react-calendar__tile:enabled:hover {
  color: black;
}

.react-calendar__tile--now {
  color: #6a65f5;
}

.react-calendar__tile--active {
  background: #f3f2f2;
  color: #313030;
}

.react-calendar__tile--rangeEnd {
  background: #828282;
  border-radius: 0px 6px 6px 0px;
  color: white;
}
.react-calendar__tile--rangeStart {
  z-index: 1;
  background: #828282;
  color: white;
  border-radius: 6px 0px 0px 6px;
}
