.pick-box {
  /* position: absolute; */
  width: 300px;
}

.icon-item {
  display: inline-block;
  margin: 4px;
  width: 30px;
}

input.study {
  background: transparent url("/image/study-search.svg") no-repeat 120px center;
}

input.break {
  background: transparent url("/image/break-search.svg") no-repeat 120px center;
}
